@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: "Raleway", sans-serif;
}
header{
    background-image: url(background.png);
    background-size: cover;
    height: 60vh;
    background-position: center;
    
}
#navbar{
    display: flex;
    justify-content: space-around;
    
}
a{
    text-decoration: none;
    color: white;
    
}
#links{
    /* border: 1px solid yellow; */
    display: flex;
    gap: 59px;
    
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 18px;
    margin-left:195px;
    
    
}
#gettheapp{
    margin-top: 25px;
    color: white;
    font-size: 14px;
    font-weight:700;
    /* padding-left: 20px; */
}
#phone{
    font-size: 13px;
    padding-right: 5px;
}
#zomatologo{
    height:63px;

}
#logo{
    margin-top: 50px;
}
#logoandtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#discover_text{
    font-size:36px;
    color: white;
}
#discover{
    margin-top: 30px;
}
#searchbar{
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 35px;
    padding: 8px 10px;
    width: 55%;
    border-radius: 7px;

}
#locationdot{
    font-size: 19px;
}
#ahemdabad{
    outline: none;
    border: none;
    font-size: 15px;
    padding: 10px;
}
#arrow{
    border-right: 3px solid;
    border-color: #cfcfcf;
    height: 23px;
    margin-right: 10px;
    /* width: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    
}
#glass{
    font-size: 18px;
    /* font-weight: 200; */
}

#sfr{
    width:320px;
    margin-left: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    color: black;
    
}
/******************************************** THIS IS THREE IMAGES Section******************************************** */

#main-body-part{
    max-width: 1200px;
    margin: auto;

}
#three-image-section{
   display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.threeimages{
    position: relative;
    width: 30%;
    overflow: hidden;
    margin: 12px;
    border-radius: 12px;
    border: 1px solid #ddd9d9;
    transition: all 0.5s;
}
.threeimages:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.threeimages .top-three-img img{
 width: 100%;
 height: 220px;
 object-fit: cover;
 background-position: center;
} 
.threeimages .image-content{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
}
.image-content h3{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.image-content p{
    font-weight: 400;
    font-size: 16px;
    color: rgb(79, 79, 79);
    line-height: 32px;
    text-overflow: ellipsis;
}
 

/**************************************************** THIS IS FOUR IMAGE SECTION**************************************** */


#middle-body-part{
    max-width: 1100px;
    margin: auto;
    margin-top: 70px;
}
#four-images-section{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content:center ;
    width: 100%;

}
.fourimages{
    position: relative;
    width: 30%;
}
.fourimages .top-four-image img{
    width: 96%;
    height: 300px;
    object-fit: cover;
    background-position: center;
    border-radius: 6px;
}
.fourimages .image-detail{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 3px;
    padding-left: 8px;
}
#collection-heading-para h1{
    color: #1c1c1c;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 5px;
}
#collection-heading-para p{
    color: #1c1c1c;
    font-size: 18px;
}
#all-ahem{
    color: #ff909a;
    font-size: 16px;
    margin-left: 70px;
}
#all-ahem i{
    margin-left: 10px;
}



/************************************************ THIS IS CITY NAMES SECTION******************************************** */


#city-name-main-part{
    max-width: 1100px;
    margin: auto;
    margin-top: 90px;
}
#populartext{
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 10px;
}
#populartext p{
color:#4c3636;
font-size: 36px;
}
#ahemdabadpopular{
    font-weight: 500;
}
#citysection{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#text-and-arrow1{
    display: flex;
    line-height: 24px;
    justify-content:center;
    margin-bottom: 20px;
    margin-right: 20px;
    
    
}
#text-and-arrow2{
    display: flex;
    justify-content:center;
    line-height: 24px;
    /* align-items: center; */
    /* gap: 110px; */
    margin-bottom: 20px;
    margin-right: 20px;
}
#text-and-arrow3{
    display: flex;
    line-height: 24px;
    justify-content:center;
    /* align-items: center; */
    margin-bottom: 20px;
    margin-right: 20px;
}
.box{
    border: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    border-radius: 8px;
    width: 60%;
    box-shadow: 1px 1px 3px rgba(0,0, 0, 0.3);
    
}
#box1{
    margin-right: 20px;
}
#box2{
    margin-right: 20px;
}
#box3{
    margin-right: 20px;
}
#boxl1{
    margin-left: 20px;
}
#boxl2{
    margin-left: 20px;
}
#boxl3{
    margin-left: 20px;
}
#text-and-arrow1 h3{
    font-size: 20px;
    font-weight: 400;
}
#text-and-arrow2 h3{
    font-size: 20px;
    font-weight: 400;
}
#text-and-arrow3 h3{
    font-size:20px ;
    font-weight: 400;
}


/************************** THIS IS GET THE MOBILE PHONE APP ZOMATO SECTION *********************************************/



#mobile-phone-main-part{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    background-color: #fffbf7;
}
#phone-image{
    display: flex;
    justify-content: center;
    align-items: center;

}
#phone-image img{
    height: 470px;
    background-position: center;
    object-fit: cover;
}
#mobile-and-email-section{
    display: flex;
    justify-content:center;
    width: 100%;

}
#text-and-email h1{
font-size: 44px;
line-height: 56px;
font-weight: 500;
}
#text-and-email p{
    font-size: 16px;
    line-height: 32px;
    /* word-spacing: 1px; */
}
#radiobutton{
    margin-top: 20px;
    margin-bottom: 20px;
}
#email{
    margin-right: 10px;
}
#phone{
    margin-left: 20px;
    margin-right: 10px;
}
input[type="radio"]{
    transform: scale(1.4);
    accent-color:#ef4f5f ;
}
#emailinput{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
#email-input-type{
    padding: 10px;
    padding-right:75px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c1c1c;
    border-radius: 6px;
    outline: none;
}
#email-input-type::placeholder{
    font-size: 20px;
}
#shareapp{
    padding:8px ;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 19px;
    color: white;
    padding-right: 10px;
    background-color:#ef4f5f ;
}
#download p{
font-size: 14px;
color: #9c9c9c;
line-height: 21px;
margin-bottom: 10px;
}
#play-and-app-store{
    display: flex;
    
}
#play img{
    height: 40px;
}
#app img{
    height:40px ;
    margin-left: 20px;
}

/*********************************** THIS IS EXPLORE OPTION SECTION *************************************************************/



#explore-main-body-part{
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
}

#part-of-explore-section{
    width: 100%;
}


#explore-heading p{
    font-size: 30px;
    color: #363636;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
}
.explore-text-and-arrow{
    border: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 9px;
    
}
.explore-p p{
    font-size: 20px;
    color:#1c1c1c;
}
#exp1{
    margin-bottom: 20px;
}
#exp2{
    margin-bottom: 20px;
}
#exp3{
    margin-bottom: 20px;
}
#exp4{
    margin-bottom: 20px;
}
/******************************************** THIS IS THE LAST OPTION SECTION*************************************/

#last-main-body-part{
    max-width: 1100px;
    margin: auto;
    background-color: #f8f8f8;
    margin-top: 90px;
}
#blacklogo img{
    height: 30px;
}

#logo-and-india-earth{
    display: flex;
    width: 100%;

    /* align-items: stretch; */
    justify-content: space-between;
}
#ind img{
    height: 13px;
    
}
#ind{
    border: 1px solid #1c1c1c;
    height: 35px;
    margin-right: 13px;
    padding-right: 11px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 6px;
    
    
    
    
    
}
#earth{
    border:1px solid #1c1c1c ;
    height:35px ;
    padding-right: 9px;
    padding-left: 7px;
    padding-top:5px ;
    padding-bottom:5px ;
    border-radius: 6px;
    font-size: 20px;
    
}
#ind-earth{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
li{
    list-style-type: none;
    
}
.links-div{
    line-height: 30px;
    font-size: 14px;
    color: #767676;
}
h5{
    font-size: 14px;
    font-weight:600;
    color: black;
    text-transform: uppercase;
}
#two-store-images{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#two-store-images img{
    height: 40px;
    
}
.links-div{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#i-links{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#last-last-p p{
    font-size: 13px;
    color:#4f4f4f;

}
#last-last-p{
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}